.header-center {
    text-align: center;
}

.modal-body {
    min-height: 20vh;
    margin-top: 2rem;

    .transaction-pending__content {
        margin-top: 4rem;
        text-align: center;
    }
}
