.mainAwardBody{
    .AwardBox {
        ol.list_item_num li:before{
            content: "";
            font-size: 34px;
            position: absolute;
            margin-left: -20px;

            }
        ul.fourth_step li::before{
            position: absolute;
            content: '■'; 
            margin-right: 2px;
            font-size: 11px;
            vertical-align: middle;
            display: inline-block;
        } 

        .media{
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            margin: 0px 32px 30px 32px;
            &:last-child{
                margin-bottom: 0;
            }
            h6{
                font-family: "M PLUS 1p", sans-serif;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 1rem;
                width: 100%;
            }
            .media-body{
                display: flex;
                @media (max-width:767px) {
                    flex-wrap: wrap;
                }
                img{
                    width: 120px;
                    height: 100%;
                    object-fit: cover;       
                    @media (max-width:1366px) {
                        width: 150px;
                    } 
                    @media (max-width:767px) {
                        margin-bottom: 0.5rem;
                        width: 120px;
                    }
                }
                p{
                    // line-height: 1.8;
                    margin-bottom: 0;
                    a{
                        font-family: "M PLUS 1p", sans-serif;
                        font-weight: 500;
                        color: #00A199;
                        @media (max-width:767px) {
                            color: #37497F;
                        }
                    }
                }
            }            
        }
        &.faqBox{
            padding: 10px;           
        }
    }   
}

.faqBoxBody{
    .award21{
        background-color: red ;
    }
}

