@import 'styles/_variables';
@import 'styles/_mixins';

.section-nft-header {
    display: flex;
    gap: 16px;

    min-height: fit-content !important;

    // overflow-y: scroll;
    @include respond(tab-port) {
        flex-direction: column;
        max-height: fit-content;
    }
}

.image {
    --h: 100%;
    position: relative;
    background-color: red;
    width: 45%;

    max-height: var(--h);

    @include respond(tab-port) {
        width: 100%;
        --h: 100%;
        max-height: auto;
    }

    .view-full-icon {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center;
        $w: 50px;
        height: $w;
        width: $w;
        transition: transform 0.5s ease;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        .view-full-icon {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.5s ease;
        }
    }

    &[class*='ratio'] {
        aspect-ratio: 1 / 1;
        flex: 1;
    }

    &:not([class*='ratio']) {
        // max-width: calc(100% / 3);

        @include respond(tab-port) {
            max-width: 100%;
        }
    }

    > img,
    > video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 60vh;
        min-height: 100%;

        &[src=''] {
            visibility: hidden;
        }
    }

    .nft-audio {
        position: relative;
        max-height: var(--h);

        height: 100%;
        width: 100%;
        min-height: 100%;

        img {
            width: 100%;
            height: 100%;

            max-height: 60vh;
            min-height: 100%;

            object-fit: cover;
        }

        audio {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: transparent;
            transform: translateY(-25%);
        }
    }

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        background-color: $background-15-color;
    }
}

.general-info {
    margin-top: auto;
    flex-grow: 1;
    padding: 16px 0;
    /* align-items: flex-end; */
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
        // padding-top: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 16px;

    @include respond(tab-port) {
        margin-left: 0;
    }

    .edit-price-action {
        display: flex;
        gap: 16px;
        height: fit-content;

        .edit-price__button {
            text-transform: none;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: #fff;
            min-height: unset;
        }

        .current-price {
            border: 1px solid $primary-color--2;
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 1rem;
            font-size: 14px;
            color: $primary-color--1;
            font-weight: 600;
        }
    }

    &__title {
        color: $text-16-color;
        margin-bottom: 4px;
    }

    &__title,
    &__name {
        // margin-bottom: 16px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include respond(tab-land) {
            font-size: 28px;
            line-height: normal;
        }

        @include respond(tab-port) {
            margin-bottom: 8px;
            // margin-top: 1rem;
            font-size: 24px;
        }
    }

    &__creator-name {
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 0;
        color: #ea0c63;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;

        @include respond(tab-port) {
            font-size: 14px;
        }
    }

    &__name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    &__g-card {
        // display: flex;
        // flex-direction: row;
        // margin: 0px -5px 0;
        // justify-content: space-between;

        .author-info {
            display: flex;
            gap: 12px;
        }
    }

    &__card {
        // flex: 1;
        display: flex;
        padding: 10px 12px;
        border-bottom: 2px solid #e6e8ec;
        margin: 0 5px;
        width: 100%;

        &__image {
            background-color: $primary-color--2;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
                object-fit: contain;

                &[src=''] {
                    visibility: hidden;
                }
            }
        }

        &__content {
            flex: 1;
            margin-left: 12px;

            > p {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #777e91;

                &:nth-child(1) {
                    margin-bottom: 2px;
                }

                &:nth-child(2) {
                    color: #23262f;
                }
            }
        }
    }

    &__space {
        flex: 1;
    }

    &__price {
        margin-top: 8px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 24px;
        display: flex;
        gap: 8px;
        align-items: center;

        img {
            $w: 40px;
            width: $w;
            height: $w;
            border-radius: 50%;
        }

        /* Neutrals/2 */

        color: #23262f;

        span {
            opacity: 0.6;
        }

        .usd-price {
            line-height: 1;
            align-self: flex-end;
            font-size: 15px;
            font-weight: 400;
            margin-left: 12px;
            color: #9d9d9d;
            opacity: 1;
        }

        @include respond(tab-port) {
            margin-bottom: 14px;
        }

        // >span {
        //     color: $text-11-color;
        // }
    }

    &__description {
        margin-bottom: 0;
        max-height: 200px;
        overflow-y: auto;
        word-break: break-word;
        white-space: pre-line;

        font-size: 16px;
        line-height: 19px;

        @include respond(tab-land) {
            font-size: 14px;
            line-height: normal;
        }

        color: #212529;

        /* width */
        &::-webkit-scrollbar {
            width: 1px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__childen {
        margin-top: 16px;
    }
}

.price-label {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    /* DARK COLORS/4 */

    color: #9d9d9d;
}

.nft-authors {
    margin: 32px 0;

    @include respond(tab-port) {
        margin: 16px 0;
    }

    display: flex;
    gap: 12px;

    &-item {
        cursor: pointer;
        position: relative;

        img {
            $w: 45px;
            width: $w;
            height: $w;
            border-radius: 50%;
            // border:1px solid  red;
        }

        &:hover {
            .nft-authors-item-tooltip {
                display: flex;
            }
        }
    }
}

.nft-authors-item-tooltip {
    position: absolute;
    z-index: 20;

    top: calc(100% + 10px);
    padding: 4px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: $border-15-color;
    border-radius: 10px;

    display: none;

    > span {
        line-height: 0;
        font-size: 12px;
        font-weight: normal;
        color: $dark-color--04;
    }

    img {
        // margin-right: 5px;
        width: 36px;
        height: 36px;
    }

    > a {
        font-size: 12px;
        font-weight: normal;
        color: $primary-color;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 1rem;
        // transform: translateY(-50%);
        border: 10px solid transparent;
        border-bottom-color: $border-15-color;
    }
}

.nft-header-actions {
    // padding: 24px;

    // @include respond(tab-port) {
    //     padding: 16px;
    // }

    button {
        flex: 1 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    // background: #fcfcfd;
    // border: 0.5px solid #bdbdbd;
    // border-radius: 16px;
}

.artist {
    position: relative;
    display: inline-block;
    // height: 32px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0px;
        right: 2px;
        $w: 14px;
        width: $w;
        height: $w;
        // background-color: $primary-color;
        color: #fff;
        background-image: url('/svgs/escutcheon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 2;
        // box-shadow: 0 0 0 2px $primary-color;
    }
}

// .like-nft {
//     position: absolute;
//     top: 8px;
//     left: 8px;
//     width: 50px;
//     height: 50px;
// }

.author-card {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;

    &[data-collection-launchpad='true'] {
        // background-color: red;
        padding-right: 20px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: 3px;
            right: 2px;
            $w: 14px;
            width: $w;
            height: $w;
            // background-color: $primary-color;
            color: #fff;
            background-image: url('/svgs/escutcheon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 2;
            // box-shadow: 0 0 0 2px $primary-color;
        }
    }

    &__img {
        $w: 36px;
        width: $w;
        height: $w;
        border-radius: 50%;

        &.artist {
            position: relative;
            display: inline-block;
            // height: 32px;

            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0px;
                right: 2px;
                $w: 14px;
                width: $w;
                height: $w;
                // background-color: $primary-color;
                color: #fff;
                background-image: url('/svgs/escutcheon.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 2;
                // box-shadow: 0 0 0 2px $primary-color;
            }
        }
    }

    &__info {
        &__title {
            font-size: 12px;
            line-height: normal;
            margin-bottom: 2px;
            color: #9d9d9d;
        }

        &__name {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            max-width: 90px;
            min-width: auto;
            width: auto;
            color: $primary-color--1;
            cursor: pointer;

            @include respond(tab-port) {
                font-size: 12px;
            }
        }
    }
}

.author-cards {
    margin: 0.5rem 0 1rem 0;
    display: flex;
    gap: 45px;

    @include respond(tab-land) {
        gap: 24px;
    }

    @include respond(tab-port) {
        gap: 16px;
    }

    @include respond(phone) {
        gap: 8px;
    }
}

.view-full-media {
    width: 100%;
    max-height: calc(100vh - 2rem);
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    img,
    video {
        width: 100%;
        max-height: 90vh;
        height: 100%;
        object-fit: contain;
    }
}
