@import '@/styles/_variables';
@import '@/styles/_mixins';

.nav-tabs {
    margin-left: 3rem;

    @include respond(tab-port) {
        margin-left: 1rem;
    }
    border-bottom: 0;

    > *[class*='nav-item'] > *[class*='nav-link'] {
        border-width: 3px 0 0 0;
        border-radius: 0;
        color: black;
        padding: 10px 25px;
        font-size: 14px;
        line-height: 1.5;

        @include respond(tab-port) {
            font-size: 12px;
            padding: 10px 10px;
        }

        &[class*='active'] {
            border-color: $primary-color;
            color: $primary-color;
        }

        &[class*='disabled'] {
            filter: grayscale(100%);
        }
    }
}
