html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container,
.container-fluid {
    padding: 1rem 3rem;
    @include respond(tab-port) {
        padding: 1rem 1rem;
    }
}

.container.fill-background,
.container-fluid.fill-background {
    background-color: $light-color--02;
}

.form-select:disabled {
    border-color: #ced4da;
    color: $text-04-color;
    background-color: inherit;
}

.error-message {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 2px;
    color: $text-16-color;
}

.socialIcon-btn-group {
    .btn {
        display: inline-flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        padding: 9px 12px;
        background: #fff;
        border: 1px solid #e5e8eb;
        color: #707a83;
        transition: all 0.3s ease;
        &[href] {
            &:hover {
                box-shadow: 0 1px 10px #d8dce0;

                svg {
                    fill: #000;
                    transform: scale(1.2);
                }
            }
        }
        &:disabled {
            svg {
                // fill: #000;
                transform: scale(1) !important;
            }
        }
        svg {
            width: 18px;
            fill: #8a939b;
            transition: all 0.3s ease;
        }
    }
}

.br-home-page {
    display: block;
   margin-top: 60px;
   content: " ";

   @include respond(tab-port) {
    margin-top: 24px;
   }
}